block variables
    - var name = "Igor"
    - var surname = "Oshust"

doctype html
html(lang='en')
  head
    title Hello, Webpack!
    script(type='text/javascript').
      const foo = true;
      let bar = function() {};
      if (foo) {
      bar(1 + 5)
      }
  body
    h1 Страница успешно загружена!
    p  Вас приветствует Игорь Ошуст, студент FPW-158.
    #container.col
      p Успешная загрузка страницы сведетельствует о корректной работе программы. Ура!

